@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body {
	background: #f7f7f7;
}

.pantalla {
    position: fixed;
    background: #f2f2f2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.pantalla2 {
    position: fixed;
    justify-content: center;
    justify-items: center;
    display: flex;
    height: 98vh;
    width: 98vw;
    overflow: hidden;
}

a {
    font-family: Raleway, serif;
	color: #f1f1f1;
	cursor: pointer;
	font-size: 30px;
	font-weight: 600;
}

.codigo-sala-wraper {
    text-align: center;
    color:#f1f1f1;
    position: absolute;
    vertical-align: middle;
    line-height: 100px;
    border-radius: 15px 15px 0px 0px;
    background-color: #727272;
    top: 60px;
    width: 700px;
    height: 100px;
}

.codigo-sala-wraper2 {
    box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    border-radius: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 330px;
    border: 3px solid #727272;
    background-color: #f1f1f1;
    top: 60px;
    width: 700px;
    height: 250px;
}

.scroller {
    position: relative;
    left: -400px;
    bottom: 250px;
    margin-top: 75px;
}

.displaced {
    left: -200px;
    bottom: 150px;
}

.scroller__inner {
    animation: scroll 20s linear infinite;
    gap: 200px;
    display: inline-flex;
    rotate: 22.5deg;

}

@keyframes scroll {
  to {
    transform: translate(-31.5%);
  }  
} 

.contorno_UNO {
    opacity: 0.6;
    width: 90px; 
    height: 30px; 
    border-radius: 12px; 
    padding: 20px;
}

.UNO_blue {
    border: 7px solid #3498db;
    background-color: #3498db;
}

.UNO_red {
    border: 7px solid #c22b2b;
    background-color: #c22b2b;
}

.UNO_green {
    border: 7px solid #457e16;
    background-color: #457e16;
}

.UNO_yellow {
    border: 7px solid #e2a90c;
    background-color: #e2a90c;
}

/* ---------------------------------------------- */ 
/*                  LISTA USUARIOS                */
/* ---------------------------------------------- */ 

.lista-jugadores-wraper {
    margin-left: 92px;
    position: fixed;
    justify-content: left;
    justify-items: left;
    display: flex;
    height: 98vh;
    width: 98vw;
    overflow: hidden;
}

.lista-jugadores-container {
    text-align: center;
    color:#f1f1f1;
    position: absolute;
    vertical-align: middle;
    line-height: 100px;
    border-radius: 15px 15px 0px 0px;
    background-color: #ac2779;
    top: 60px;
    width: 400px;
    height: 100px;
}

.lista-jugadores-container2 {
    box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    border-radius: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 330px;
    border: 3px solid #ac2779;
    background-color: #f1deea;
    top: 60px;
    width: 397px;
    height: 550px;
}

/* ---------------------------------------------- */ 
/*                 BOTÓN CONFIRMAR                */
/* ---------------------------------------------- */ 

.btn-confirmar {
    font-family: Raleway, serif;
	font-size: 30px;
	font-weight: 600;
    text-align: center;
    cursor: pointer;
    color:#f1f1f1;
    position: absolute;
    vertical-align: middle;
    line-height: 100px;
    border-radius: 15px 15px 15px 15px;
    background-color: #5ba149; 
    border: 2px solid #469233;
    top: 650px;
    width: 700px;
    height: 100px;
    box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.1);
		text-decoration: none;
		will-change: color, text-shadow, font-size;
		transition: ease all 0.3s;
		&:hover {
			transform: scale(1.05);
			background: #6dbb5a;
		}
}

/* ---------------------------------------------- */ 
/*                 BOTÓN COMENZAR                 */
/* ---------------------------------------------- */ 

.btn-invitar {
    font-family: Raleway, serif;
	font-size: 30px;
	font-weight: 600;
    cursor: pointer;
    text-align: center;
    color:#f1f1f1;
    position: absolute;
    vertical-align: middle;
    line-height: 100px;
    border-radius: 15px 15px 15px 15px;
    background-color: #ac2779; 
    border: 2px solid #962269;
    top: 650px;
    right: 1390px;
    width: 400px;
    height: 100px;
    text-decoration: none;
		will-change: color, text-shadow, font-size;
		transition: ease all 0.3s;
		&:hover {
			transform: scale(1.05);
			background: #be3b8c;
		}
}

/* ---------------------------------------------- */ 
/*                      REGLAS                    */
/* ---------------------------------------------- */ 

.reglas-container {
    text-align: center;
    color:#f1f1f1;
    position: absolute;
    vertical-align: middle;
    line-height: 100px;
    border-radius: 15px 15px 0px 0px;
    background-color: #5b28ad;
    top: 60px;
    left: 1300px;
    width: 425px;
    height: 100px;
}

.reglas-container2 {
    box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    border-radius: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 330px;
    border: 3px solid #5b28ad;
    background-color: #e4dbf1;
    top: 60px;
    left: 1300px;
    width: 422px;
    height: 685px;
}