<div class="pantalla">
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
</div>

<div class="lista-jugadores-wraper">
    <div class="lista-jugadores-container2"></div>
    <div class="lista-jugadores-container">
        <a>JUGADORES</a>
        <a style="font-size: 40px; margin-left: 30px;">{{numJugadores}}/4</a>
    </div>
    <div class="reglas-container2">
        <p style="margin-top: 120px; margin-left: 20px; margin-right: 20px">
            Se reparten 7 cartas a cada jugador. <br><br>
            El resto de las cartas se colocan boca abajo como mazo de robar y se le da la vuelta a la primera carta del mazo para comenzar la partida. <br><br>
            Los jugadores deben coincidir una carta de su mano con la carta superior de la pila que hay en el tablero por número, color o símbolo. <br><br>
            Si un jugador no puede jugar, debe robar una carta del mazo. Si puede jugar la carta que robó, puede hacerlo; de lo contrario, su turno termina. <br><br>
            Se pueden usar cartas especiales como comodines, +2, +4, reversa y bloqueo para cambiar el curso del juego. <br><br>
            Gana el primer jugador en quedarse sin cartas en la mano <br><br>
        </p>
    </div>
    <div class="reglas-container">
        <a>CÓMO JUGAR</a>
    </div>
</div>

<div class="pantalla2">
    <div class="codigo-sala-wraper2">
        <a style="color: #333; font-size: 55px;" (click)="copiarAlPortapapeles(codigoSala)">{{codigoSala}}</a>
    </div>
    <div class="codigo-sala-wraper">
        <a style="cursor: default;">CÓDIGO DE SALA</a>
    </div>
    <button class="btn-confirmar" href="#crear-partida">COMENZAR PARTIDA</button>
    <button class="btn-invitar" (click)="openAmigos()">INVITAR AMIGOS</button>
</div>

<div class="reglas-container3">
    <p style="margin-top: 120px; margin-left: 20px; margin-right: 20px">
        Las cartas de +2 y +4 se pueden apilar independientemente del color y número. <br><br>
        Las cartas de bloqueo y reversa se pueden apilar independientemente del color. <br><br>
    </p>
</div>

<div class="reglas-container4">
    <a style="cursor: default;">REGLAS DE CALLE ;)</a>
</div>

<div *ngIf="show_friendlist">
    <app-amigos-popup></app-amigos-popup>
</div>