<div class="pantalla">
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
</div>

<div class="pantalla2">
    <div class="codigo-sala-wraper2">
        <a style="color: #333; font-size: 55px;" (click)="copiarAlPortapapeles(codigoSala)" >{{codigoSala}}</a>
    </div>
    <div class="codigo-sala-wraper">
        <a>CÓDIGO DE SALA</a>
    </div>
</div>