<div class="container">
    <div class="three-quarters">
      <!-- Contenido para tres cuartos de la pantalla -->
    </div>
    <div class="separator"></div>
    <div class="one-quarter">
        <div class="title">CHAT</div>
        <div class="separator2"></div>
        <ul class="barra">
            <p *ngFor="let mensaje of mensajes">Usuario1: {{ mensaje }}</p>
        </ul>
        <nav class="chat">
            <input type="text" placeholder="Escribe algo" [(ngModel)]="mensaje">
            <h4 class="enviar" (click)="agnadirMensaje()">ENVIAR</h4>
        </nav>
    </div>
</div>
