.pantalla {
    position: fixed;
    background: #f2f2f2;
    height: 98vh;
    width: 99vw;
    overflow: hidden;
}

.scroller {
    position: relative;
    left: -400px;
    bottom: 250px;
    margin-top: 75px;
}

.displaced {
    left: -200px;
    bottom: 150px;
}

.scroller__inner {
    animation: scroll 20s linear infinite;
    gap: 200px;
    display: inline-flex;
    rotate: 22.5deg;

}

@keyframes scroll {
    to {
      transform: translate(-31.5%);
    }  
  } 
  
  .contorno_UNO {
      opacity: 0.6;
      width: 90px; 
      height: 30px; 
      border-radius: 12px; 
      padding: 20px;
  }
  
  .UNO_blue {
      border: 7px solid #3498db;
      background-color: #3498db;
  }
  
  .UNO_red {
      border: 7px solid #c22b2b;
      background-color: #c22b2b;
  }
  
  .UNO_green {
      border: 7px solid #457e16;
      background-color: #457e16;
  }
  
  .UNO_yellow {
      border: 7px solid #e2a90c;
      background-color: #e2a90c;
  }

/* FIN DE FONDO ------------------------------------ */

.user-exp-wraper {
    top: 100px;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
}