<div class="pantalla">
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
</div>
<div class="todo">
    <nav class="titulos">
        <div class="titulo">
            <h1>TIENDA</h1>
        </div>
        <div class="ap">
            <h2>LOGOS</h2>
        </div>
    </nav>

    <nav class="logos">
        <div class="caja">
            <img src="assets/perfil1.png" width="100">
            <p>LOGO1</p>
            <p>50 MONEDAS</p>
        </div>
        <div class="caja">
            <i><img src="assets/perfil2.png" width="100"></i>
            <p>LOGO2</p>
            <p>50 MONEDAS</p>
        </div>
        <div class="caja">
            <img src="assets/perfil3.png" width="100">
            <p>LOGO3</p>
            <p>50 MONEDAS</p>
        </div>
        <div class="caja">
            <img src="assets/perfil4.png" width="100">
            <p>LOGO4</p>
            <p>50 MONEDAS</p>
        </div>
        <div class="caja">
            <img src="assets/perfil5.png" width="100">
            <p>LOGO5</p>
            <p>50 MONEDAS</p>
        </div>
    </nav>

    <div class="ap">
        <h2>FONDOS</h2>
    </div>
    <nav class="fondos">
        <div><a>FONDO1</a></div>
        <div><a>FONDO2</a></div>
        <div><a>FONDO3</a></div>
    </nav>
</div>