
<div class="pantalla">
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
</div>


<div class="container">
	<div class="logo">
		<img src="assets/Logotipo_centrado.png" alt="UnoGraham">
	</div>
	<nav class="menu">
		<a href="#portada">CREAR PARTIDA</a>
		<a href="#portada">TORNEOS</a>
		<a href="#portada">TIENDA</a>
		<a href="#portada">LOGOUT</a>
	</nav>
</div>