<div class="pantalla">
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
            <div class="UNO_green contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
            <div class="UNO_red contorno_UNO"></div>
        </ul>
    </div>
    <div class="displaced scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
            <div class="UNO_yellow contorno_UNO"></div>
        </ul>
    </div>
    <div class="scroller">
        <ul class="lista-unos scroller__inner">
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
            <div class="UNO_blue contorno_UNO"></div>
        </ul>
    </div>
</div>
<div class="todo">
    <p>BUSCAR PARTIDA</p>
    <nav class="buscador">
        <input type="text" placeholder="Introduzca el código de una partida">
        <h4>BUSCAR</h4>
    </nav>
    <div class="flujo2">
        <a href="#home"><app-flujo></app-flujo></a>
    </div>
</div>

